@import "../scripts/vendor/bootstrap/less/bootstrap.less";
@import "../scripts/vendor/bootstrap/less/responsive.less";
@import "../scripts/vendor/font-awesome/less/font-awesome.less";
@import "fonts.less";

@FontAwesomePath:   "../scripts/vendor/font-awesome/font";
@baseLineHeight:    21px;

@email:             #000000;
@instagram:         #517fa4;
@lastfm:            #db1302;
@linkedin:          #007bb6;
@skype:             #00aff0;
@twitter:           #00a0d1;

body {
    background: url(../images/background.png) repeat;
}

hr.soften {
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.1),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.1),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.1),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.1),rgba(0,0,0,0));
    border: 0;
}

[class*="span"].main {
    background-color: @white;
    margin-bottom: 20px;
    .border-radius(6px);
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: -2;
        bottom: 15px;
        left: 10px;
        width: 50%;
        height: 20%;
        max-width: 300px;
        .box-shadow(0 15px 10px rgba(0, 0, 0, 0.4));
        .rotate(-3deg);
    }

    &:after {
        right: 10px;
        left: auto;
        .rotate(3deg);
    }
}

#weemee {
    width: 100px;
    margin: 40px 0;
}

#tagline {
    font-size: 32px;
    margin-bottom: 30px;
    #font #family .monospace();
}

#about {
    margin: 0 20px;
}

#social {
    a {
        #font .shorthand(42px, normal, 100%);
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            text-decoration: none;
        }

        &#email     { color: @email;     }
        &#instagram { color: @instagram; }
        &#lastfm    { color: @lastfm;    }
        &#linkedin  { color: @linkedin;  }
        &#skype     { color: @skype;     }
        &#twitter   { color: @twitter;   }
    }
}

.source-link {
    text-transform: uppercase;
    #font .shorthand(10px, normal, 15px);
}

@media (max-width: 480px) {
    body {
        background: none;
    }

    [class*="span"].main {
        &:before,
        &:after {
            .box-shadow(none);
        }
    }

    #tagline {
        font-size: 20px;
    }

    #about {
        margin: 0 10px;
    }
}
