body {
    background-color:White;
    margin:0 auto;
    width:240px;
    font-size:20px;
    line-height:150%;
}

a {
    color:Black;
    text-decoration:none;
}

div#columnOne {
    float:left;
}

div#columnTwo {
    float:right;
}