/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		background-color: #F4F4F4;
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
    }
    
    .container {
        margin: 100px 0 20px 0;
	}
    
    .socialicon {
        width: 64px;
        margin: 30px 10px 10px 10px;
    }
    
    a {
        text-decoration: none;
    }
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {
    
    .container {
        margin: 20px 0 20px 0;
    }
    
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {}