/* 
 * ------------------------------------------------
 *   Kristijan Bambir © 2010 All rights reserved.
 * ------------------------------------------------
*/


/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
    display: block;
}

body {
	margin: 0;
	color: #4d4d4d;
    font-family: Arial;
    font-size: 18px;
    background-color: #FFFFFF;
    background-image: url("../img/bg.png");
    background-repeat: repeat;
	overflow: hidden;
}

a, a:link, a:visited, a:hover {
	color: #8a8a8a;
    text-decoration: none;
}
/*
a:hover {
	text-decoration: underline;
}
*/
img {
	border: 0;
}

div.page {
	width: 100%;
	height: 400px;
	position: absolute;
	top: 100px;
}

div.background {
	background-image: url('../img/bg-main.png');
    background-position: top left;
    background-repeat: repeat-x;
}

div.container {
    margin: 0 auto;
	width: 940px;
	height: 100%;
}

a.next {
	position: relative;
	float: right;
	margin: 170px auto;
}

a.previous {
    position: relative;
    float: left;
    margin: 170px auto;
}


/* 
 * ----------- home -----------
 */

div#home_wrapper {
    text-align: center;
    margin: 0 auto;
}


/* 
 * ----------- profile -----------
 */

span#earth {
	position: relative;
	float: left;
	margin: 140px auto;
}


/* 
 * ----------- contact -----------
 */

#twitter-ticker {
	display: none;
	text-align: left;
	color: #666666;
	width: 494px;
	height: 164px;
	font-size: 15px;
	position: relative;
	float: left;
    left: 100px;
	top: 150px;
	background-image: url('../img/twitterscene.png');
	background-position: top left;
	background-repeat: no-repeat;
}

#tweet-container{
    /* This is where the tweets are inserted */
    height: 120px;
    width: 350px;
    overflow: hidden;
	position: relative;
	float: left;
	left: 65px;
	top: 12px;
}

.tweet{
    /* Affects the tweets */
    padding: 5px;
    margin: 0 8px 8px;
    width: auto;
    overflow: hidden;
}

.tweet .time{
    float: left;
}

.tweet .time{
    text-transform: uppercase;
    font-size: 10px;
    color: #AAAAAA;
    white-space: nowrap;
}

.tweet .txt{
    /* Using the text container to clear the floats */
    clear: both;
}

.tweet .user{
    font-weight: bold;
}

#loading{
    /* The loading gif animation */
    margin: 50px 150px;
}

div#content_wrapper {
}

div#social {
    position: relative;
	float: left;
	top: 80px;
	left: 50px;
}

div#social_icons {
    position: relative;
    float: left;
    top: 70px;
    left: 80px;
}

div#social_text {
    top: 70px;
    left: -345px;
    font-size: 13px;
	position: relative;
    float: left;
}

img.icon {
	margin: 0px 2px auto 2px;
}

div#instant {
    position: relative;
    float: left;
    top: 80px;
    left: 170px;
}

div#instant_icons {
    position: relative;
    float: left;
    top: 70px;
    left: 200px;
}

div#pgp {
	position: relative;
	float: left;
	top: 50px;
    left: 45px;
	font-size: 12px;
}

div#contact_text {
    position: relative;
    float: left;
    top: 70px;
    left: 62px;
	font-size: 13px;
}


/* 
 * ----------- credits -----------
 */

div#credits_wrapper {
    text-align: center;
    margin: 0 auto;
}

div#credits_to {
	font-size: 13px;
}
