/*=======================================================================

	❤❤❤ Gumby by Digital Surgeons. ❤❤❤
	
	*** This is where you should keep all of your TEXT styles ***
 
 ========================================================================*/
 
 	p,
    a {
        font-size: 18px;
	    line-height: 30px;
    }
    
    p {
        font-family: 'Open Sans', sans-serif;
    }
    
    a {
        font-family: 'Bree Serif', serif;
    }
    
    a:hover {
        opacity: 0.7;
    }
    
    ::selection {
	    background: #FC0;
	}
    
    #github { color: Black; }
    #twitter { color: #00ACEE; }
    #instagram { color: #3F729B }
    #lastfm { color: #D51007; }
    #facebook { color: #3B5998; }
    #linkedin { color: #50A1CB; }
    #zerply { color: #9DBC7A; }
    #mail { color: #DD4B39; }
    #skype { color: #00AFF0; }
 
 /* ==|== media queries ======================================================
    PLACEHOLDER Media Queries for Responsive Design.
    These override the primary ('mobile first') styles
    Modify as content requires.
    ========================================================================== */
 
 @media only screen and (min-width: 480px) {
   /* Style adjustments for viewports 480px and over go here */
 
 }
 
 @media only screen and (min-width: 768px) {
   /* Style adjustments for viewports 768px and over go here */
 
 }
