@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Terminal+Dosis+Light);

body {
    font-size: 16px;
    font-family: 'Droid Serif', serif;
    background-image: url('../img/background.png');
    background-repeat: repeat;
    width: 800px;
    margin: 0 auto;
}

a {
    color: #4070D6;
    text-decoration: none;
}

li {
    margin-bottom: 5px;
}

#title {
    font-family: 'Terminal Dosis Light', sans-serif;
    color: Gray;
    text-align: center;
    line-height: 100%;
    font-size: 110px;
    margin: 20px auto 20px auto;
}

#about {
    margin-bottom: 15px;
}

#pic {
    float: left;
}
#pic img {
    width: 380px;
}
#about, #services {
    width: 380px;
    float: right;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px)  {
	body {
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
	}
    #title {
        font-size: 58px;
        margin: 10px auto 10px auto;
    }
    #pic {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    #pic img {
        width: 90%;
    }
    #about, #services {
        width: auto;
        float: none;
    }
}