html {
    height: 100%;
}

header, footer, aside, nav, article {
    display: block;
}

body {
    background:White url('../img/background.png') repeat;
    width:100%;
    height:100%;
    margin:0 auto;
    font-family: Georgia, serif;
}

img {
	border: 0;
}

div#container {
    /*width: 980px;*/
    margin: 0 auto;
    min-height: 100%;
    background-image:url('../img/wineLeaf2.png');
    background-repeat:no-repeat;
    background-position:top center;
}

div#flags {
    width:980px;
    margin:0 auto;
    text-align:right;
    padding-right:20px;
}

div#flags img.flag {
    position: relative;
    top: -10px;
    margin: 0 5px 0 5px;
}

div#title {
    color:Black;
    font-size:5em;
    padding:10px 30px 20px 0;
    text-align:center;
}

div#frontPhoto {
    margin:0 auto;
    text-align:center;
}

div#subtitle {
    font-size:1.5em;
    padding-top:20px;
    padding-bottom:30px;
    /*font-family:"Trebuchet MS", Arial, sans-serif;*/
    text-align:center;
    color:Black;
    width:980px;
    margin:0 auto;
}

div#main {
    padding-bottom:70px;
}

div#photos {
    margin:22px auto;
}

div#photosContainer {
    background-image:url('../img/photosShadow.png');
    background-repeat:no-repeat;
    background-position:top;
}

div#contentBackground {
    background:White url('../img/aboutBackground.png') repeat-x top;
}

div#contentBackgroundWhite {
    background:url('../img/whiteBackground.png') repeat-x top;
    text-align:center;
    padding-top:30px;
}

div#content {
    width:980px;
    margin:0 auto;
    padding-bottom:30px;
}

div#content span.backHome {
    padding-left:15px;
    padding-right:15px;
    font-size:1.5em;
    font-style:italic;
}

div#content span.backHome a {
    text-decoration:none;
    border-bottom:dashed 1px Black;
    color:Black;
}

div#content span.backHome a:hover {
    border-bottom:solid 1px Black;
}

div#about {
    font-size:1em;
    line-height:145%;
    padding-top:30px;
    padding-right:20px;
    padding-left:20px;
    width:450px;
    /*text-align:justify;*/
}

div#sidebar {
    float:right;
    margin-top:-207px;
    padding-right:20px;
    padding-left:20px;
    width:450px;
    font-size:1em;
    line-height:145%;
}

div#links {
    text-align:center;
    /*padding-top:30px;*/
}

span.link {
    padding-left:15px;
    padding-right:15px;
    font-size:2em;
    font-style:italic;
}

span.link a {
    text-decoration:none;
    border-bottom:dashed 1px Black;
    color:Black;
}

span.link a:hover {
    border-bottom:solid 1px Black;
}

div#sidebar img {
    padding-left:10px;
    padding-right:10px;
    vertical-align:middle;
}

.thumbnails a {
    display:block;
    margin:5px;
    float:left;
}

div.clear {
    clear:both;
}

div#contact {
    width: 100%;
    background: white url('../img/footerBackground.png') repeat-x scroll center top;
}

div#contactContent {
    width: 980px;
    height: 50px;
    padding-top: 20px;
    /*padding-bottom:10px;*/
    /*margin: -60px auto 0 auto;*/
    margin:0 auto;
    color: #534B4F;
    text-align: center;
}

span.contactDetail {
    font-size:1.4em;
    font-style:italic;
    line-height:160%;
}

span.contactDetail a {
    text-decoration:none;
    border-bottom:1px dashed #534B4F;
    color:#534B4F;
}

span.contactDetail a:hover {
    border-bottom:1px solid #534B4F;
}

span#tel {
    font-family:"Times New Roman", serif;
}

div#copyright {
    width:100%;
    /*background:White url('../img/footerBackground.png') repeat-x scroll center top;*/
    background-color:#303030;
}

div#copyrightContent {
    width:980px;
    height:15px;
    padding-top:2px;
    padding-bottom:2px;
    margin:-17px auto 0 auto;
    color:White;
    text-align:center;
    font-size:0.7em;
    font-family:"Trebuchet MS", Arial, sans-serif;
}