body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    height: 100%;
}

::-moz-selection { background: $selection-color; }
::selection { background: $selection-color; }

a {
  color: $link-color;
  font-size: 1.2em;
  &:hover {
    color: $link-hover-color;
  }
}

.site-title {
  color: $title-color;
  font-size: 3em;
}

.site-tagline {
  color: $tagline-color;
  font-size: 2em;
  margin: 0.6em auto;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  body { font-size: 18px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  body { font-size: 20px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  body { font-size: 22px; }
}
