:root {
  --text-color: #1f2328;
  --background-color: #eeeeee;
  --link-color: #9a6700;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #d6d6d6;
    --background-color: #2e2e2e;
    --link-color: #e5b567;
  }

  html {
    color-scheme: dark;
  }
}
