:root {
  --text-color: #31363f;
  --background-color: #eeeeee;
  --link-color: #b4d273;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #d6d6d6;
    --background-color: #2e2e2e;
    --link-color: #e5b567;
  }

  html {
    color-scheme: dark;
  }
}
