.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  min-height: 100svh;
  margin: 0 auto;
  padding: 0 20px;
  font-size: clamp(26px, 4.5vw, 48px);
  line-height: 1.2;
  letter-spacing: -0.05em;
}

.title {
  font-family: var(--title-font);
  font-size: 20vw;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.title + .line {
  margin-top: 1em;
}

.line + .links {
  margin-top: 1em;
}

.links {
  padding: 0;
  list-style: none;
}

.link + .link {
  margin-top: 0.2em;
}

@media (min-width: 640px) {
  .main {
    padding: 0 40px;
  }

  .title {
    font-size: 12vw;
  }
}

@media (min-width: 1280px) {
  .main {
    padding: 0 160px;
  }
}
