.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100svh;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px 0;
  font-size: clamp(30px, 4.5vw, 48px);
  font-weight: 500;
  line-height: 1.2;
}

.title {
  font-family: var(--title-font);
  font-size: 20vw;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.title + .line {
  margin-top: 1em;
}

.line + .links {
  margin-top: 1em;
}

.links {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

@media (min-width: 640px) {
  .main {
    font-weight: 400;
  }
}
