.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  min-height: 100svh;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.title {
  font-size: 3em;
}

.title .gradient {
  background: linear-gradient(260deg, #e26e43 -4%, #f8ce0e 110%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 2em;
}

.links {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
}

.links li {
  font-size: 1.2em;
}

@media (min-width: 640px) {
  .main {
    padding: 0 40px;
    font-size: 24px;
  }
}

@media (min-width: 1280px) {
  .main {
    padding: 0 60px;
    font-size: 32px;
  }
}
