@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);

html {
    height: 100%;
}
body {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-image: url('../img/white_tile.png');
    background-repeat: repeat;
}
#main {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -480px;
    /*border-right: 1px White solid;
    border-left: 1px Black solid;*/
}
#left {
    float: left;
    height: 100%;
    width: 30%;
    background-image: url('../img/white_shadow.png');
    background-repeat: repeat-y;
    background-position: right;
}
#left_content {
    margin-right: 30px;
    margin-top: 60px;
    color: #292929;
    float: right;
    text-align: right;
    font-size: 20px;
    line-height: 150%;
}
#left a, #left a:link, #left a:hover, #left a:visited {
    color: #292929;
    text-decoration: none;
    font-style: italic;
}
.content {
    margin-left: 15px;
    font-family: 'Droid Serif', serif;
}
#right {
    background-image: url('../img/black_tile.png');
    background-repeat: repeat;
    height: 100%;
    width: 70%;
    float: right;
}
#right_content {
    color: #F0F0F0;
    font-size: 20px;
    line-height: 150%;
    margin-top: 60px;
}
#right a, #right a:link, #right a:hover, #right a:visited {
    color: #F0F0F0;
    text-decoration: none;
    font-style: italic;
}
#fill {
    height: 100%;
    right: 0;
    left: auto;
    background-image: url('../img/black_tile.png');
    background-repeat: repeat;
    background-color: #292929;
    width: 75%;
    margin: 0;
    position: absolute;
    z-index: 1;
}
font {
    background-image: url('../img/black_tile.png');
    background-repeat: repeat;
    padding: 8px 12px 8px 12px;
    color: #F0F0F0;
    line-height: 240%;
    font-size: 24px;
}
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px) {
    body {
        width: 100%;
        height: auto;
    }
    #fill {
        width: 100%;
    }
    #main {
        width: 100%;
        margin: 0;
        left: 0;
    }
    #left {
        float: none;
        width: 100%;
        height: 420px;
        background-image: url('../img/white_shadow_vertical.png');
        background-repeat: repeat-x;
        background-position: bottom;
    }
    #left_content {
        margin-top: 30px;
    }
    #right {
        float: none;
        width: 100%;
        height: auto;
    }
    #right_content {
        margin-top: 10px;
        padding-bottom: 15px;
    }
    font {
        font-size: 18px;
    }
}